html { font-size: 2vw; }

body {
  background-color: rgb(173, 216, 230);
}

#rutherford {
text-align: center;  
background-image: url("https://image.freepik.com/free-photo/molecule-atom-design_36845-227.jpg" );
background: 
background-repeat: no-repeat;   
width: 80%;
border-radius: 50px;
}



h1 {
  text-align: center;
  color: rgb(3, 3, 78);
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bolder;
  margin-bottom: 4rem;
  

}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 3rem;
  margin-top: 15vh;
  
}



h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  

}

.centered p {
  text-align: center;
  color: rgb(3, 3, 78);
  font-style: italic;
  font-weight: bolder;
  border-radius: 55px;
  opacity: .5;


}
#img-div, #img-note, #img-older {
text-align: center;
margin-top: 15vh;

}


 #image, #older, #note{
  border-radius: 50px;
  opacity: .4;
  border: darkblue;
  border-style: solid;
  border-width: 5px; 
  width: 80%;
  
 }

 li {
   margin-bottom: 2vh;
   list-style-image: url("/img/atom.png");
   margin-left: 2em;
  }

figcaption {
  text-align: center;
  font-size: .5em;
}
  
 section {
   display: inline-block;
   width: 65%;
   height: auto;
   float: left;
 }  
aside {
   display: inline-block;
   width: 35%;
   height: auto;

 }  
 footer {
  display: block;
  margin-top: 15vh;
 

}  


@media (max-width: 576px) { 
  
  #atoms {
     height: 50vh;
}


@media (min-width: 768px) { 
  #atoms {
    height: 80vh;

 }


@media (min-width: 992px) { 
  #atoms {
    height: 100vh;

}


@media (min-width: 1200px) { 
  #atoms {
    height: 120vh;

 }