html { font-size: 2vw; }

body {
  background-color: rgb(173, 216, 230);
}

#rutherford {
text-align: center;  
background-image: url("https://image.freepik.com/free-photo/molecule-atom-design_36845-227.jpg" );
border-radius: 50px;
width: 90%;
margin: 0 5% 0 5%;

}



h1 {
  text-align: center;
  color: rgb(207, 35, 35);
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: bolder;
  padding: 2vh 0 5vh 0;
  
  
}

h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 3rem;
  margin-top: 15vh;
  
}

h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  

}

#rutherford p {
  text-align: center;
  color: rgb(207, 35, 35);
  font-style: italic;
  font-weight: bold;
  padding-bottom: 3vh;


}
#img-div, #img-note, #img-older {
text-align: center;
margin-top: 15vh;

}


 #image, #older, #note{
  border-radius: 50px;
  opacity: .4;
  border: darkblue;
  border-style: solid;
  border-width: 5px; 
  width: 80%;
  
 }

 li {
   margin-bottom: 2vh;
   list-style-image: url("/img/atom.png");
   margin-left: 2em;
  }

figcaption {
  text-align: center;
  font-size: .5em;
}
  
.flex-container {
  display: flex;
  flex-direction: row;
}


 section {
   display: flexbox;
   width: 65%;
   height: auto;
   float: left;
   margin-bottom: 10%;
 }  
aside {
   display: flexbox;
   width: 35%;
   height: auto;
   margin-bottom: 10%;

 }  

 figure {
   display: block;
 }

 footer {
  display: block;
  margin: 10%;
  text-align: center;
 

}  


@media (max-width: 576px) { 
  
  #atoms {
     height: 50vh;
}


@media (min-width: 768px) { 
  #atoms {
    height: 80vh;

 }


@media (min-width: 992px) { 
  #atoms {
    height: 100vh;

}


@media (min-width: 1200px) { 
  #atoms {
    height: 120vh;

 }